/*--------------------------------------------------------------

    Template:  Sheltek Real Estate HTML5 Template
    Author: http://devitems.com/
    Version: 1
    Design and Developed by: http://devitems.com/

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

.bs-searchbox .form-control {
  color: #000000;
}

.address-info .address-info__title {
  font-size: 14px;
  font-weight: 600;
}

.flicker-gallery {
  margin-right: -5px;
  margin-left: -5px;
  margin-top: -5px;
}

.flicker-gallery a {
  display: inline-block;
  width: 32%;
  font-size: 0;
  padding: 5px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease
}

.flicker-gallery a:hover {
  opacity: .7
}

.flicker-gallery a img {
  width: 100%;
  border-radius: 2px
}

.prod-row {
  padding: 13px 0;
}

.property__navigation {
  margin-bottom: 30px;
}

.property__navigation-tab {
  display: inline-block;
  background-color: #f5f5f5;
  border-radius: 2px;
  padding: 6px 18px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.property__navigation-tab.active {
  cursor: default;
  pointer-events: none;
  background-color: #0e58a7;
  color: #fff;
}

.property__navigation-tab:not(:last-child) {
  margin-right: 10px;
}

.property__tab-block {
  display: none;
}

.property__tab-block.active {
  display: block;
}







/* 4.39. Property / .property
***********************/


.property__slider {
  margin-bottom: 50px;
}
.property__slider--v2 {
  margin-bottom: 30px;
}
@media only screen and (min-width: 1200px) {
  .property__slider-container--vertical {
    display: flex;
  }
}
.property__slider-main {
  position: relative;
}
.property__slider-main:hover .image-navigation {
  opacity: 1;
  visibility: visible;
}
.image-navigation {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-out;
}
.image-navigation li {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.show-property-mobile {
  display: none!important;
}

@media only screen and (min-width: 768px) {
  .image-navigation li {
    width: 60px;
    height: 60px;
    font-size: 24px;
    line-height: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .property__slider-main--vertical {
    width: 88%;
  }
}

@media (max-width: 768px) {
  .property__navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .property__navigation .pro-details-amenities > h5, .leave-review > h5 {
    margin-top: 0;
  }

  .show-property-mobile .pro-details-condition-inner {
    margin-bottom: 20px;
  }

  .property__navigation-tab:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  .hide-pro-details-short-info {
    display: none!important;
  }

  .show-property-mobile {
    display: block!important;
    padding-top: 20px;
  }
}
.property__slider-info {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 3px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 4px;
  font-size: 13px;
  text-align: center;
}
.property__slider-info i {
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}
.property__slider-info .sliderInfo {
  display: inline-block;
  font-size: 13px;
}
.property__slider-nav {
  position: relative;
  padding: 20px 25px;
}
@media only screen and (min-width: 768px) {
  .property__slider-nav {
    padding: 30px 25px;
  }
}
.property__slider-nav .slick-slide {
  margin: 0 5px;
  border: 2px solid transparent;
}
.property__slider-nav .slick-current {
  border-color: #0e58a7;
}
.property__slider-nav .slick-arrow {
  color: #888888;
  font-size: 16px;
  cursor: pointer;
}
.property__slider-nav .slick-arrow:hover {
  color: #0e58a7;
}
.property__slider-nav .slick-disabled,
.property__slider-nav .slick-disabled:hover {
  color: #e5e5e5;
}
.property__slider-nav .slick-horizontal-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.property__slider-nav .slick-horizontal-prev-arrow {
  left: 10px;
}
.property__slider-nav .slick-horizontal-next-arrow {
  right: 10px;
}
.property__slider-nav .slick-vertical-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.property__slider-nav .slick-vertical-prev-arrow {
  top: 5px;
}
.property__slider-nav .slick-vertical-next-arrow {
  bottom: 5px;
}
.property__slider-nav--vertical {
  background-color: #f3f3f3;
}
@media only screen and (min-width: 1200px) {
  .property__slider-nav--vertical {
    width: 12%;
  }
}
@media only screen and (min-width: 1200px) {
  .property__slider-nav--vertical .slick-slide {
    margin: 5px 0;
  }
}
.property__slider-nav--horizontal {
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .property__slider-nav--horizontal {
    padding: 20px 25px;
  }
}
.property__slider-item:hover {
  cursor: pointer;
}
.property__placeholder {
  position: relative;
  min-height: 600px;
  background-image: url('../images/uploads/single_property.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.property__controls {
  position: relative;
  z-index: 10;
  top: 30px;
  display: flex;
  justify-content: flex-end;
}
.property__control {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.65);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.35);
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease-out;
}
.property__control:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) {
  .property__control {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}
.property__control:hover {
  background-color: #1fc341;
}
.property__control--active {
  background-color: #1fc341;
}
.property__control-icon {
  display: block;
  color: #ffffff;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .property__control-icon {
    font-size: 24px;
  }
}
#property-map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.property__map {
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.property__map--visible {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

.property__header {
  padding: 30px 0;
  border-top: 1px solid #dddddd;
}
.property__header--v3 {
  padding: 0 0 45px;
}
.property__title--b-margin {
  margin-bottom: 20px;
}
.property__price--b-margin {
  margin-bottom: 25px;
}
.property__meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.property__offer {
  display: inline-block;
  margin-right: 15px;
  padding: 2px 18px;
  border-radius: 4px;
  background-color: #0e58a7;
  color: #ffffff;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.property__type {
  display: inline-block;
  color: #32b7d1;
  font-size: 11px;
  text-transform: uppercase;
}
.property__name {
  margin-bottom: 8px;
  font-size: 30px;
}
.property__address {
  color: #888888;
}
.property__address-icon {
  margin-right: 5px;
  font-size: 16px;
}
.property__stat {
  display: inline-block;
  margin-right: 20px;
  color: #888888;
  font-size: 12px;
  text-transform: uppercase;
}
.property__stat:last-child {
  margin-right: 0;
}
.property__figure {
  display: block;
  margin-bottom: -2px;
  color: #333333;
  font-size: 24px;
}
.property__price-primary {
  margin-bottom: 2px;
  color: #32b7d1;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.property__price-secondary {
  color: #888888;
}
.property__item {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}
@media only screen and (min-width: 1200px) {
  .property__item {
    margin-right: 30px;
  }
}
.property__item:last-child {
  margin-right: 0;
}
.property__item-desc {
  display: inline-block;
  text-align: center;
  color: #999999;
}
.property__link {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.property__icon {
  font-size: 18px;
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: #0e58a7;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
}
.property__icon:hover {
  background-color: #32b7d1;
}


@media only screen and (min-width: 992px) {
  .property__main {
    display: flex;
    align-items: center;
  }
}
.property__main-item {
  position: relative;
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  .property__main-item {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    padding-right: 20px;
  }
  .property__main-item:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    width: 1px;
    height: 80px;
    background-color: #dddddd;
  }
  .property__main-item:last-child {
    padding-right: 0;
    margin-right: 0;
  }
  .property__main-item:last-child:after {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {

}
@media only screen and (min-width: 768px) {
  .property__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.property__container {
  padding-bottom: 20px;
  background-color: #f6f6f6;
}
.property__container .widget {
  transition: 0.3s all ease-out;
}
.property__container .widget:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}
.property__feature-container {
  padding: 50px 0;
}
@media (max-width: 991px) {
  .property__feature-container {
    padding: 0 0 50px;
  }
}
.widget__container {
  padding-top: 50px;
}
.property__feature {
  margin-bottom: 30px;
  padding: 15px 20px;
  background-color: #ffffff;
  transition: 0.5s box-shadow ease-out;
}
.property__feature:hover {
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 768px) {
  .property__feature {
    padding: 25px 40px;
  }
}
.property__feature p {
  color: #666666;
}
.property__feature-title {
  font-size: 20px;
  padding-bottom: 10px;
}
.property__feature-title--b-spacing {
  margin-bottom: 25px;
  border-bottom: 1px solid #eeeeee;
}
.property__feature-schedule {
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .property__feature-schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.property__feature-cta {
  display: inline-block;
  padding: 10px 42px;
  background-color: #22355b;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .property__feature-cta {
    flex-shrink: 0;
  }
}
.property__feature-time-list {
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .property__feature-time-list {
    margin-bottom: 0;
  }
}
.property__feature-time-item {
  display: inline-block;
  margin-right: 10px;
  color: #666666;
}
.property__feature-open-maps {
  color: #1fc341;
}
@media only screen and (min-width: 768px) {
  .property__details-list {
    columns: 2;
    column-gap: 40px;
  }
}
.property__details-item {
  position: relative;
  color: #666666;
  margin-bottom: 5px;
  padding-left: 20px;
}
.property__details-item:before {
  position: absolute;
  left: 0;
  top: 5px;
  display: inline-block;
  content: "\f042";
  font-family: "FontAwesome";
  font-size: 8px;
}
.property__details-item--cat {
  color: #333333;
  font-weight: 500;
}
@media only screen and (min-width: 30em) {
  .property__features-list {
    columns: 2;
    column-gap: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .property__features-list {
    columns: 3;
    column-gap: 20px;
  }
}
.property__features-item {
  margin-bottom: 10px;
  color: #666666;
}
.property__features-icon {
  display: inline-block;
  margin-right: 10px;
  color: #333333;
}
.property__accordion-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  background-color: #f6f6f6;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .property__accordion-header {
    padding: 15px 20px;
  }
}
@media only screen and (min-width: 992px) {
  .property__accordion-header {
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .property__accordion-textcontent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.property__accordion-title {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}
@media only screen and (min-width: 992px) {
  .property__accordion-title {
    min-width: 150px;
  }
}
.property__accordion-figure {
  position: relative;
  color: #666666;
}
@media only screen and (min-width: 768px) {
  .property__accordion-figure {
    display: inline-block;
    margin-right: 15px;
    padding-right: 15px;
  }
  .property__accordion-figure:last-child {
    margin-right: 0;
    padding-right: 0;
  }
  .property__accordion-figure:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    content: "\f111";
    font-family: "FontAwesome";
    font-size: 5px;
  }
  .property__accordion-figure:last-child:after {
    display: none;
  }
}
.property__accordion-figure--cat {
  color: #333333;
  font-weight: 500;
}
.property__accordion-expand {
  color: #888888;
}
.property__accordion-content {
  display: none;
  text-align: center;
}
.property__accordion-content--active {
  display: block;
}
@media only screen and (min-width: 992px) {
  .property__feature-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
  }
}
.property__tab {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  color: #666666;
  transition: 0.3s all ease-out;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
.property__tab:hover {
  color: #333333;
  border-bottom: 3px solid #1fc341;
}
.property__tab--active {
  color: #333333;
  border-bottom: 3px solid #1fc341;
}
@media only screen and (min-width: 992px) {
  .property__tab {
    margin: 0 0 0 15px;
    padding-bottom: 10px;
  }
}
.property__tab-container {
  overflow-x: auto;
}
.property__tab-content {
  display: none;
  margin: 5px 0 0;
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .property__tab-content {
    margin: 15px 0 0;
  }
}
.property__tab-content td,
.property__tab-content th {
  border: 0;
  border-bottom: 1px solid #eeeeee;
  min-width: 150px;
}
.property__tab-content td {
  color: #333333;
  padding: 15px 0;
}
.property__tab-content th {
  padding: 5px 0;
  color: #666666;
  font-weight: 400;
}
.property__tab-content.is-visible {
  display: table;
}
.list-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  background-color: #adadad;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
}
.property__form-field {
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  color: #666666;
}
.property__form-field:focus {
  border-color: #1fc341;
}
.property__form-field::placeholder {
  color: #666666;
}
.property__form-wrapper {
  position: relative;
}
.property__form-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #adadad;
  font-size: 18px;
}
.property__form-submit {
  max-width: 250px;
  background: #1fc341;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 4px;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
}


@media (max-width: 991px) {

  .footer-top .col-sm-6 {
    margin-bottom: 30px;
  }

}

@media (max-width: 768px) {

  .footer-top .col-xs-12 {
    margin-bottom: 15px;
  }

}

/* 22.03.2018 */
.contacts-row li{ padding: 10px; display: flex; justify-content: flex-start; align-items: center; font-size: 14px;}

/* 23.03.2018 */

.pro-details-plans h5 {
  margin-bottom: 40px;
}

.featured-flat-map-wrapper {
  position: relative;
}

.featured-flat-map-wrapper.fullscr {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.featured-flat-map-wrapper.fullscr .map-controls {
  z-index: 1001;
  position: fixed;
  right: 20px;
}

.featured-flat-map-wrapper.fullscr .map-reset,
.featured-flat-map-wrapper.fullscr .map-expand,
.featured-flat-map-wrapper.fullscr .map-prev,
.featured-flat-map-wrapper.fullscr .map-next {
  display: none;
}

.featured-flat-map-wrapper.fullscr .mCSB_inside > .mCSB_container {
  margin-right: 0;
}

.map-close {
  display: none;
}

.featured-flat-map-wrapper.fullscr .map-close {
  display: block;
}

.featured-flat-map {
  position: relative;
  width: 100%;
}

.img-map {
  pointer-events: none;
  width: 100%;
  max-width: none;
}

.properties__point {
  z-index: 9;
  position: absolute;
  transform: translate(-50%, -100%);
}
.properties__point.active .listing-box {
  display: block;
}


.properties__point img {
  cursor: pointer;
}

.listing-box img {
  max-width: 100% !important;
}
.listing-box__container {
  position: relative;
}
.listing-box__container:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid #ffffff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.listing-box__container .listing__favorite {
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
}
.listing-box__container .listing__favorite i {
  font-size: 14px;
  line-height: 30px;
}
.listing-box__container .listing__close {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  color: #333333;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.listing-box__container .listing__close:hover {
  color: #32b7d1;
}
.listing-box__container .listing__content {
  padding: 15px;
}
.listing-box__container .listing__title {
  max-width: 190px;
  margin-bottom: 10px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.listing-box__container .listing__price {
  margin-bottom: 0;
  font-weight: normal;
}

.property__accordion:not(:last-child) {
  margin-bottom: 5px;
}

.listing-box {
  display: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 7px 0;
  width: 220px;
  transform: translate(-50%, 0);
  position: absolute;
  visibility: visible;
  cursor: default;
  bottom: calc(100% + 20px);
  left: 50%;
}

/* 23.03.2018 */

.change-padding {padding-bottom: 40px;}
#googleMap {height: 530px;}
.map-row {margin-bottom: 45px;}


/* 26.03.2018 */

/* 4.37. Listing Sort / .listing-sort
***********************/
.listing-sort {
  position: relative;
  padding: 0 0 30px;
  background-color: #ffffff;
  font-size: 13px;
}
@media (max-width: 991px) {
  .listing-sort {
    padding: 30px 0;
  }
}
@media (max-width: 768px) {
  .listing-sort .listing-sort__inner {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 543px) {
  .listing-sort .listing-sort__inner {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .listing-sort__result {
    margin-top: 15px;
  }

  .listing-sort .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 192px;
  }
}
.listing-sort .caret {
  border-top: 4px dashed #000;
}
.listing-sort--main-listing {
  margin-bottom: 20px;
  padding: 15px;
}
.listing-sort--main-listing:after {
  display: none;
}
.listing-sort .bootstrap-select.open .caret {
  transform: rotate(180deg);
}
@media only screen and (min-width: 768px) {
  .listing-sort__inner {
    display: flex;
    align-items: center;
  }
}
.listing-sort__list {
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .listing-sort__list {
    margin-bottom: 0;
    margin-right: auto;
  }
}
.listing-sort__item {
  display: inline-block;
  margin-right: 15px;
  font-size: 16px;
}
.listing-sort__item:last-child {
  margin-right: 0;
}
.listing-sort__link {
  color: #bbbbbb;
}
.listing-sort__link:hover {
  color: #333333;
}
.listing-sort__link--active {
  color: #333333;
}
.listing-sort__result {
  display: inline-block;
  margin-bottom: 5px;
}
@media only screen and (min-width: 768px) {
  .listing-sort__result {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.listing-sort__sort {
  margin-bottom: 0;
}
.listing-sort__label {
  display: inline-block;
  margin-right: 5px;
}
.listing-sort__field {
  display: inline-block;
  width: 180px;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .listing-sort__field {
    width: 210px;
  }
}
.listing-sort__field .dk-selected {
  padding: 6px 15px;
  font-size: 13px;
  background-color: #eeeeee;
}

.listing-sort .listing-sort__inner {
  justify-content: space-between;
}

.listing-sort .listing-sort__inner .filter-option {
  color: #3b5265;
}


/* LISTING SEARCH ON PAGE PROPERTIES.HTML */

/* 4.36. Listing Search / .listing-search
***********************/
.main-search {
  background-color: #fff;
}
.main-search--static {
  padding-top: 60px;
}
.main-search--static + .item-grid {
  padding-top: 40px;
}
@media only screen and (min-width: 768px) {
  .main-search--absolute {
    position: absolute;
    left: 0;
    bottom: -125px;
    z-index: 5;
    width: 100%;
    background-color: transparent;
  }
}
.main-search__container {
  position: relative;
}
.main-search__container:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  z-index: 5;
  width: 0;
  height: 0;
  border-top: 15px solid #ffffff;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}
.listing-search {
  padding: 10px 15px 10px;
  background-color: #0e58a7;
}
.listing-search__label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}
.listing-search__label--hidden {
  opacity: 0;
  visibility: hidden;
}
.ht-field {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 13px;
}
.listing-search__btn {
  height: 40px;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 7px 10px 6px;
  background-color: #fff;
  color: #1f223e!important;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  border: 1px solid #fff;
}
.listing-search__btn:hover {
    background-color: transparent;
    color: #fff!important;
}
.listing-search__field {
  height: 41px;
  margin-bottom: 20px;
  font-size: 13px;
}
.listing-search__field::placeholder {
  color: #333333;
  font-size: 13px;
}
.listing-search__advance {
  display: none;
}
.listing-search__amount {
  margin-bottom: 6px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.listing-search__slider {
  height: 5px;
  margin: 0 9px 20px 9px;
}
.listing-search__slider .ui-widget-header {
  background-color: #32b7d1;
}
.listing-search__slider .ui-slider-handle {
  top: -7px;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  background-color: #32b7d1;
  border-radius: 50%;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
}
.listing-search__slider .ui-state-hover,
.listing-search__slider .ui-state-focus,
.listing-search__slider .ui-state-active {
  border-color: #32b7d1;
}
.home-page .ui-widget-content {
  border: 0 !important;
  background-color: #ffffff !important;
}
.listing-search__more {
  padding: 10px 0 20px;
}
.listing-search__more-inner {
  display: none;
}
.listing-search__more-btn {
  display: inline-block;
  margin-bottom: 20px;
  color: #f3f3f3;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.listing-search__more-btn:after {
  content: "\f105";
  display: inline-block;
  padding-left: 5px;
  font-family: "FontAwesome";
  transition: 0.3s all ease-out;
  transform-origin: 100% 70%;
}
.listing-search__more-btn--show:after {
  transform: rotate(90deg);
}
.listing-search__more-wrapper {
  display: flex;
  align-items: center;
  padding: 7px 0;
}
.listing-search__more-field {
  display: none;
}
.listing-search__more-label {
  display: flex;
  color: #f3f3f3;
  font-size: 14px;
  cursor: pointer;
}
.listing-search__more-label:before {
  content: "\f0c8";
  display: inline-block;
  margin-right: 10px;
  font-family: "FontAwesome";
  font-size: 22px;
}
.listing-search__more-field:checked ~ .listing-search__more-label:before {
  content: "\f14a";
  color: #32b7d1;
}
.listing-search__more-field:disabled ~ .listing-search__more-label:before {
  content: "\f0c8";
  color: #666666;
}

.listing-search .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  width: 100%;
}

.ui-slider-title {
  margin-top: 20px;
}



.map-container {
  position: relative;
  width: 100%;
  height: 500px;
}
.map-full-width {
  position: fixed !important;
  height: 100% !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}
.map--default {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.map-controls {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}
.map-control {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.55);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s all ease-out;
}
@media only screen and (min-width: 768px) {
  .map-control {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}
.map-control:hover {
  background-color: #95c41f;
}
.map-control:last-child {
  margin-bottom: 0;
  box-shadow: none;
}
.map-control__icon {
  display: block;
  color: #ffffff;
  font-size: 16px;
}
@media only screen and (min-width: 768px) {
  .map-control__icon {
    font-size: 20px;
  }
}

body.overflow {
  overflow: hidden;
}

.featured-flat .flat-item.hovered .for-sale {
  opacity: 0;
  visibility: hidden;
}

.featured-flat .flat-item.hovered .flat-item-image:before {
  opacity: 1;
  visibility: visible;
}

.featured-flat .flat-item.hovered .flat-link {
  opacity: 1;
  visibility: visible;
}

.featured-flat .flat-item.hovered .flat-item-image > a > img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.featured-flat-map-wrapper .mCustomScrollBox,
.featured-flat-map-wrapper .mCSB_container {
  overflow: visible!important;
}

.img-map-wrapper {
  overflow: hidden;
}

.screw {
  display: none;
}
.screw.active {
  display: inline-block;
}

.accordion-faq .panel-heading {
  padding: 10px 15px 10px 30px;
}

.accordion-faq .panel-heading .panel-title a{
  position: relative;
}

.accordion-faq .ion-icon:before {
  position: absolute;
  left: -20px;
  color: #000;
}

.accordion-faq .ion-icon.collapsed:before {
  content: "\f217";
}

.featured-flat-properties .flat-desc {
  padding: 15px 5px;
  display: flex;
  justify-content: center;
}

.featured-flat-properties .flat-desc  li {
  display: flex;
  align-items: center;
}

.featured-flat-properties .flat-desc .flat-desc > li + li {
  margin-left: 0;
}

@media (max-width: 1600px) {
  .featured-flat-properties .col-lg-4 {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .featured-flat-properties .col-md-6 {
    width: 100%;
  }
}

.language-select {
  padding: 39px 0;
}

@media (max-width: 767px) {
  .language-select {
      padding: 0;
  }
  .properties-page .listing-search__label {
    margin-top: 10px;
  }
}

.language-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.language-select a {
   font-size: 14px;
   font-family: "Montserrat", sans-serif;
   font-weight: 300;
   color: #999999;
   text-transform: uppercase;
   line-height: 1.2em;
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.language-select a:hover {
  color: #32b7d1;
}

.language-select a.active {
  font-weight: 600;
  color: #1f223e;
  pointer-events: none;
}

.ui-widget .ui-slider-handle {
    background: #d1b632;
}

.ui-slider .ui-slider-range {
    background-color: #cbd131;
}

.bootstrap-select  .btn-default {
    border-color: #fff;
}

.btn-block {
    color: #1f223e;
    border: 1px solid #fff;
    background-color: #fff;
}

btn-block:hover {
    color: #fff;
    border: 1px solid #1f223e;
    background-color: #1f223e;
}
.bootstrap-select button span {
    color: rgba(255,255,255,.70);
}

.bootstrap-select.open button span {
    color: rgba(255,255,255,1);
}

.bootstrap-select .btn-default:hover span {
    color: rgba(255,255,255,1);
}

.bootstrap-select .btn-default:hover{
    border-color: #fff;
}

.bootstrap-select .btn-default.active, .bootstrap-select .bootstrap-select .btn-default:active, .bootstrap-select.open>.dropdown-toggle.btn-default {
    color: rgba(255,255,255,1);
    background-color: transparent;
    border-color: #fff;
}

.bootstrap-select.open>.dropdown-toggle.btn-default:focus, .bootstrap-select.open>.dropdown-toggle.btn-default:hover {
    color: rgba(255,255,255,1);
    background-color: transparent;
    border-color: #fff;
}



.home-page .find-home-item .price_slider_amount > input,
.properties-page .price_slider_amount > input{
    color: #fff;
}

.home-page .features-include-list h6 img {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

.properties-page .price_slider_amount > input {
    width: 100%;
    text-align: center;
}

.dropdown-menu {
     border: none;
}

.properties-details-page .price_filter .ui-slider {
    background: #f5f5f5;
}

.properties-details-page .widget-search-property .bootstrap-select button span {
    color: rgba(14, 88, 167,.70);
}

.properties-details-page .widget-search-property .bootstrap-select.open button span {
    color: rgba(14, 88, 167,1);
}

.properties-details-page .widget-search-property .bootstrap-select .btn-default:hover span {
    color: rgba(14, 88, 167,1);
}

.properties-details-page .widget-search-property .bootstrap-select .btn-default:hover{
    border-color: #0e58a7;
}

.properties-details-page .widget-search-property .bootstrap-select .btn-default.active, .bootstrap-select .bootstrap-select .btn-default:active, .bootstrap-select.open>.dropdown-toggle.btn-default {
    color: rgba(14, 88, 167,1);
    background-color: transparent;
    border-color: #0e58a7;
}

.properties-details-page .widget-search-property .bootstrap-select.open>.dropdown-toggle.btn-default:focus, .bootstrap-select.open>.dropdown-toggle.btn-default:hover {
    color: rgba(14, 88, 167,1);
    background-color: transparent;
    border-color: #0e58a7;
}

.properties-details-page .widget-search-property .bootstrap-select  .btn-default {
    border-color: #0e58a7;
}

.properties-details-page .widget-search-property .find-home-item .btn-block:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: #0e58a7;
}

.mobile-menu-area {
    background: #0e58a7;
}

.mean-container .mean-nav ul li a:hover {
    background: #f8f8f8 none repeat scroll 0 0;
    color: #32b7d1;
}
.listing-search .price_slider_amount input::-webkit-input-placeholder {color:#fff;}
.listing-search .price_slider_amount input::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
.listing-search .price_slider_amount input:-moz-placeholder           {color:#fff;}/* Firefox 18- */
.listing-search .price_slider_amount input:-ms-input-placeholder      {color:#fff;}

button.like-button {background-color: #fff; color: #000; transition: all 0.3s; border: 1px solid #fff; margin-left: -1px; width: 18%;}
button.like-button:hover {background-color: transparent; color: #fff;}
.destroy-padding {padding-top: 0px;}
.add-paddings {padding-top: 40px; padding-bottom: 40px;}
.add-next-paddings {padding: 50px 0; margin-top: 0;}
.text-white.add-next-paddings {margin-top: 0;}

@media only screen and (max-width: 992px) {
  .add-paddings {
    padding-top: 52px;
    padding-bottom: 52px;
    margin: 1px 0;
  }
}

.destroy-padding.bg-1 { background-size: cover; background-attachment: unset;}

.blue-buttons {display: flex;}
.blue-button {width: 35px; height: 35px; background-color: #f5f5f5; color: #000; display: flex; align-items: center; justify-content: center; cursor: pointer;}
.blue-button.active {color: #fff; background-color: #0e58a7;}
.blue-button:first-child {border-bottom-left-radius: 3px; border-top-left-radius: 3px;}
.blue-button:last-child {border-bottom-right-radius: 3px; border-top-right-radius: 3px;}

.custom-tab {display: none;}
.custom-tab.active {display: block;}
.super-class {display: flex;}
.custom-gallery {width: 100%;}
.jump-around {position: relative;}

.custom-tab .slick-slide {border: 2px solid transparent;}
.second-slider .slick-current {border: 2px solid #0e58a7; border-radius: 4px;}
.navigate-new-tab-slider .slick-current {border: 2px solid #0e58a7; border-radius: 4px;}
.second-slider {padding: 4px; }
.navigate-new-tab-slider {padding: 4px;}
.lb-close {
  position: absolute;
  top: -35px;
  right: 12px;
}

.custom-tab .slick-arrow { position: absolute; opacity: 0.6; transition: all 0.2s; border-radius: 2px;}
.custom-tab .slick-arrow:hover {opacity: 1;}
/*.custom-tab .slick-arrow:before {content: ''; display: block; width: 2px; height: 10px; top: 50%; left: 50%; color: #fff; background-color: #fff;}*/
.custom-tab .slick-prev { left: 0; top: 50%; transform: translateY(-50%); z-index: 10; display: inline-block;
  content: '<';
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;}


.custom-tab .slick-prev:after {content: ''; display: block; width: 10px; height: 10px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotateZ(-135deg); position: absolute; top: 36%;
  left: 40%; }
.custom-tab .slick-next { right: 0; top: 50%; transform: translateY(-50%); z-index: 10; display: inline-block;
  content: '>';
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;}
.custom-tab .slick-next:after {content: ''; display: block; width: 10px; height: 10px; border-top: 2px solid #fff; border-right: 2px solid #fff; transform: rotateZ(45deg);position: absolute; top: 33%; left: 26%; }


.lb-container {background-color: rgba(0, 0, 0, 0.5);}
.lightbox .lb-image {border: none;}

.lb-nav a.lb-next { background: none; position: relative;}
.lb-nav a.lb-next:after { content: ''; transform: rotateZ(45deg) translateY(-50%); display: block; width: 40px; height: 40px; border-top: 8px solid #0e58a7;  border-right: 8px solid #0e58a7; border-radius: 8px; top: 50%; right: 30px; position: absolute;  }

.lb-nav a.lb-prev {background: none; position: relative;}
.lb-nav a.lb-prev:after { content: ''; transform: rotateZ(-135deg); display: block; width: 40px; height: 40px; border-top: 8px solid #0e58a7;  border-right: 8px solid #0e58a7; border-radius: 8px; top: 46.5%; left: 15px; position: absolute;  }

.button-painter {background-color: #0e58a7; border-radius: 2px; color: #fff;}
.properties-details-page .widget-search-property .find-home-item .button-painter:hover {background-color: #32b7d1; color: #000;}

.property__link > svg path{fill: #2F3245;}
.property__link:hover > svg path{fill: #32b7d1;}

.change-width .property__item{width: 40px; margin-right: 20px; margin-left: 20px;}
.change-width .property__item:last-child{margin-right: 0px;}
.image-place {width: 35px; height: 35px; margin-right: 8px; display: flex; justify-content: center; align-items:center;}
.image-place svg{ width: 100%;}
/*.box-for-images li{display: flex; align-items: center; justify-content: flex-start;}*/
.flexer { display: flex; align-items: center; justify-content: flex-start;}
.add-position {}
.property__accordion-header.positioner {position: relative;}
.plus-buttons {pointer-events: none; position: absolute; right: 35px; top: 10px;}

.property__accordion-header.action  .plus-buttons{pointer-events: all;}
.listing-search__advance {margin-bottom: 15px;}
.random-background {position: relative; background: none;}
/*.random-block {position: absolute; width: 100%; top: 0; left: 0; height: 100%;}*/

.random-picture{display: none;}
.random-picture.active{ object-fit: cover; width: 100%; display: block; height: 100%; position: absolute;}

/*.second-slider {position: absolute; right: -250px; top: 0; height: 100%; width: 200px; overflow: hidden;}*/
@media only screen and (max-width: 1200px) {
  .property__accordion-stats.add-position {padding-right: 55px;}
}

.address-icon svg path{fill: #ccc;}
.address-icon { height:40px;}
/*.address-icon img{width: 25px;}*/
.footer-address li{display: flex; }
.footer-address .address-icon{display: flex; align-items: center; justify-content: flex-start;}
.svg-icon-box { display: flex; align-items: center; justify-content: center;}
.svg-icon-box svg {width: 25px;}


.share__popup {
  display: none;
  position: absolute;
  top: -134px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  width: 244px;
  height: 75px;
  border: 2px solid #0e58a7;
  z-index: 1000003;
  background-color: #fff;
}
@media (max-width: 543px) {
  .share__popup {
    top: auto;
    bottom: 125px;
    flex-direction: column;
    padding: 15px;
    width: auto;
    height: auto;
  }
}
.share__popup.active {
  display: flex;
}
.share__popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 99;
}
.share__popup:before {
  position: absolute;
  content: '';
  width: calc(100% + 4px);
  height: 5px;
  background-color: #28b3cf;
  left: -2px;
  top: -7px;
}

.header-favorite__triangle {
  position: absolute;
  content: '';
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 35px 34px 35px;
  border-color: transparent transparent #28b3cf transparent;
}

.share__popup .header-favorite__triangle {
  border-width: 54px 20px 0 20px;
  border-color: #0e58a7 transparent transparent transparent;
  top: auto;
  bottom: -54px;
}

@media (max-width: 1400px) {
  .share__popup {
    left: auto;
    transform: translateX(0);
    right: -27px;
  }

  .share__popup .header-favorite__triangle {
    left: auto;
    right: 20px;
    transform: translateX(0);
  }
}

@media (max-width: 1200px) {
  .share__popup {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }

  .share__popup .header-favorite__triangle {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

@media (max-width: 940px) {
  .share__popup {
    left: auto;
    transform: translateX(0);
    right: -27px;
  }

  .share__popup .header-favorite__triangle {
    left: auto;
    right: 20px;
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .share__popup {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }

  .share__popup .header-favorite__triangle {
    left: 50%!important;
    right: auto!important;
    transform: translateX(-50%)!important;
  }
}

.header-favorite__triangle:before {
  position: absolute;
  content: '';
  top: 7px;
  left: -29px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 29px 28px 29px;
  border-color: transparent transparent #ffffff transparent;
}

.share__popup .header-favorite__triangle:before {
  bottom: 7px;
  top: auto;
  left: -18px;
  border-width: 48px 18px 0 18px;
  border-color: #fff transparent transparent transparent;
}

.share__icon {
  position: relative;
  display: block;
}

@media (max-width: 543px) {
  .share__icon:not(:last-child) {
    margin-bottom: 20px;
  }
}

.share__icon:hover svg {
  fill: #28b3cf;
}

.share__icon svg{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  fill: #2F3245;
}

.share__icon--gmail {
  width: 44px;
  height: 34px;
}

.share__icon--fb {
  width: 20px;
  height: 39px;
}

.share__icon--gplus {
  width: 50px;
  height: 32px;
}

.overlay-transparent {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1000001;
}