/* -----------------------------------
  Template Name: Sheltek - Real Estate HTML Template 

  NOTE: This is Header style file. All Header related style included in this file.

--------------------------------------*/

/*logo*/
.logo {
  max-width: 230px;
  padding: 29px 0;
  width: 100%;
}

/*company-info*/
.company-info {
  padding: 39px 0;
}
.company-info-item {
    float: left;
    overflow: hidden;
    width: 50%;
}
.header-icon {
    float: left;
    width: 18%;
}
.header-info {
    float: left;
    width: 82%;
}
.company-info .company-info-item:nth-child(2) {
  padding-left: 5%;
}


.header-info h6 {
  font-family: montserrat;
  line-height: 15px;
  margin-bottom: 5px;
}
.header-info p {
  color: #606060;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
  margin-bottom: 0;
}

/*header-search*/
.header-search {
  padding: 40px 0;
}
.header-search button {
    float: left;
    height: 30px;
    width: 18%;
}
.header-search input {
  border: 1px solid #1f223e;
  box-shadow: none;
  color: #303030;
  float: left;
  font-weight: 300;
  height: 30px;
  margin-bottom: 0;
  padding-left: 15px;
  width: 82%;
}
.header-search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #303030;
  opacity: 1;
}
.header-search input::-moz-placeholder { /* Firefox 19+ */
  color: #303030;
  opacity: 1;
}
.header-search input:-ms-input-placeholder { /* IE 10+ */
  color: #303030;
  opacity: 1;
}
.header-search input:-moz-placeholder { /* Firefox 18- */
  color: #303030;
  opacity: 1;
}

/*header-favorite*/
.header-favorite {
  padding: 40px 0;
}

.header-favorite__wrapper {
  display: flex;
  align-items: center;
}
.header-favorite__heart {
  position: relative;
  width: 26px;
  height: 22px;
}

.header-favorite__heart svg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-favorite__counter {
  position: absolute;
  display: inline-block;
  left: 17px;
  top: -7px;
  background-color: #f71414;
  color: #fff;
  padding: 2px 5px;
  text-align: center;
  border-radius: 10px;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.02em;
  z-index: 2;
  border: 2px solid #fff;
}
.header-favorite__text-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  cursor: pointer;
}
.header-favorite__title {
  display: inline-block;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 15px;
  font-weight: 400;
  color: rgb(31, 34, 62);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-bottom: 5px;
}

.header-favorite__text-wrapper:hover .header-favorite__title {
  color: #32b7d1;
  text-decoration: none;
}

.header-favorite__subtitle {
  display: inline-block;
  font-family: 'montserrat', Helvetica, Arial, sans-serif;
  color: #606060;
  font-size: 12px;
  font-weight: 300;
  line-height: 12px;
}

.header-favorite__popup {
  display: none;
  position: absolute;
  left: 52%;
  transform: translateX(-50%) translateZ(1px);
  top: 116px;
  width: 434px;
  border: 1px solid #0e58a7;
  background-color: #fff;
  z-index: 1000003;
}

@media (max-width: 991px) {
  .header-favorite__popup {
    left: -115px;
    transform: translateX(0) translateZ(1px);
  }
}

@media (max-width: 768px) {
  .header-favorite__popup {
    top: 75px!important;
    left: 0!important;
  }
  .header-favorite__triangle {
    left: 64px!important;
    transform: translateX(0)!important;
  }
}

@media (max-width: 543px) {
  .header-favorite__popup {
    width: 300px;
    left: 0;
    transform: translateX(0);
  }

  .header-favorite__triangle {
    left: 87px;
  }
}


.header-favorite__popup:before {
  position: absolute;
  content: '';
  width: calc(100% + 2px);
  height: 4px;
  background-color: #28b3cf;
  left: -1px;
  top: -5px;
}

.header-favorite__popup:after {
  position: absolute;
  content: '';
  width: calc(100% + 2px);
  height: 4px;
  background-color: #28b3cf;
  left: -1px;
  bottom: -5px;
}

.header-favorite__popup-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-favorite__showmore {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #c8c8c8;
  cursor: pointer;
  width: 100%;
  height: 18px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header-favorite__showmore:hover {
  background-color: #0d58a7;
}

.header-favorite__arrow {
  display: block;
  position: relative;
  width: 10px;
  height: 6px;
}

.header-favorite__arrow svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-favorite__popup-info {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 10px 1px;
}

.header-favorite__popup-item {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
}

.header-favorite__popup-item:nth-child(even) {
  background-color: #f7f7f7;
}

.header-favorite__popup-item:not(:last-child) {
  margin-bottom: 7px;
}

.header-favorite__popup-item:hover .header-favorite__popup-title {
  text-decoration: underline;
}

.header-favorite__popup-img {
  width: 90px;
  height: 56px;
}

.header-favorite__popup-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-favorite__popup-information {
  width: calc(100% - 99px);
}

.header-favorite__popup-information span {
  display: block;
  font-family: "Raleway", sans-serif;
  line-height: 20px;
}

.header-favorite__popup-title {
  font-size: 15px;
  color: #0d58a7;
  font-weight: 700;
}

.header-favorite__popup-text {
  font-size: 14px;
  color: #363636;
  font-weight: 400;
}













/*menu style */
.header-area{
    z-index: 1000000;
	position: relative;
}
/*.main-menu > li > a {
  color: #303030;
  display: block;
  padding: 40px 20px;
  text-transform: uppercase;
}*/
.main-menu > li + li {
  margin-left: 55px;
}
.main-menu > li > a {
  color: #1f223e;
  display: block;
  font-size: 16px;
  padding: 15px 0;
  text-transform: uppercase;
}
.main-menu li {
    display: inline-block;
    position: relative;
}
.main-menu > li:hover > a,
.drop-menu > li:hover > a,
.single-mega-item > li:hover > a {
	color: #95c41f;
} 
/*drop-menu Style*/
.drop-menu {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 4px solid #95c41f;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 250px;
  z-index: 2;
}
.menu-right {
  left: auto;
  right: 0;
}
.drop-menu li {
  border-bottom: 1px solid #e1e1e1;
  display: block;
}
.drop-menu li a {
  display: block;
  font-size: 12px;
  padding: 8px 20px;
  text-transform: uppercase;
}
.main-menu li:hover .drop-menu{
	transform: scale(1);
	visibility: visible;
}
/*Mega menu style*/
/*#primary-menu {
  position: relative;
}*/
.mega-menu-area {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 4px solid #95c41f;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 0;
  padding-bottom: 10px;
  position: absolute;
  text-align: left;
  top: 100%;
  transform: scaleY(0);
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: 2;
}
.main-menu li.mega-parent {
    position: static;
}
.single-mega-item {
    float: left;
    width: 25%;
    padding: 0 15px;
}
.single-mega-item li {
    display: block;
    border-bottom: 1px solid #e5e5e5;
}
.single-mega-item li:last-child{
	border-bottom: 0px solid #000;
} 
.single-mega-item li a{
  padding: 13px 0px;
	display: block;
  font-weight: 300;
}
.main-menu li:hover .mega-menu-area{
	transform: scale(1);
	visibility: visible;
}
.header-middle-area .container .row [class*="col-"] {
	position: static;
 }
 .header-middle-area .full-width-mega-drop-menu{
 	position: relative;
 }
/*====================================================================*/
.drop-menu-right {
  left: auto;
  right: 0;
}
/*====================================================================*/

/*Header Transprent */
.transparent-header{
  position: absolute;
  width: 100%;
  margin: auto;
  background: rgba(14, 88, 166, 0.9) none repeat scroll 0 0;
  transition: all 0.3s ease 0s;
}
.transparent-header .main-menu > li > a{
  color: #fff;
}
.transparent-header .main-menu > li:hover > a {
  color: #95c41f;
}
.transparent-header.sticky{
	background: rgba(255, 255, 255, 1);
	box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4)
}
/*Sticky Menu*/
.sticky {
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}
.sticky .main-menu > li > a {
  color: #303030;
  font-size: 14px;
  padding: 18px 0;
}
.sticky .main-menu > li + li {
  margin-left: 40px;
}
.sticky .main-menu {
  text-align: right;
}
.sticky-logo img {
  display: none;
  transition: all 0.3s ease 0s;
}
.sticky .sticky-logo img {
  display: block;
  float: left;
  padding: 16px 0;
  width: 138px;
}



